html,body {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-stretch: normal;
    color: #525558;
}

.alert:empty {
    display: none !important;
}

.btn-input {
   display: block;
}
 
.btn-input .btn.form-control {
    text-align: left;
}
 
.btn-input .btn.form-control .caret {
   margin-top: -1px;
   position: absolute;
   right: 10px;
   top: 50%;
}

.btn.btn-transparent,.btn.btn-transparent:hover,.btn.btn-transparent:focus {
    background-color: transparent;
    color: #525558;
}

.btn.btn-main,.btn.btn-default,.btn.btn-white {
    background-color: #e74c3c;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    outline: #e74c3c;
    height: 40px;
    width: 100%;
    transition: ease 0.4s;
    box-shadow: 0 3px 10px -5px #e74c3c;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
}

.btn.btn-main:hover {
    background-color: #e74c3c;
    color: #FFFFFF;
    box-shadow: 0 7px 20px -5px #e74c3c;
    outline: none;
}

.btn.btn-default {
    background-color: #999999;
    outline: #999999;
    box-shadow: 0 3px 10px -5px #999999;
}

.btn.btn-default:hover {
    background-color: #999999;
    color: #FFFFFF;
    box-shadow: 0 7px 20px -5px #999999;
    outline: none;
}

.btn.btn-white {
    background-color: #FFFFFF;
    color: #e74c3c;
    outline: #e74c3c;
    height: 50px;
    width: 250px;
    font-size: 16px;
}

.btn.btn-white:hover {
    background-color: #FFFFFF;
    color: #e74c3c;
    outline: none;
    box-shadow: 0 7px 20px -5px rgba(0, 0, 0, 0.26);
}

.btn.btn-edit,.btn.btn-edit:hover {
    outline: none;
    border: none;
    background-color: transparent;
    color: #4caf50;
    font-size: 24px;  
    float: right;
}

.btn.btn-close,.btn.btn-close:hover {
    outline: none;
    border: none;
    background-color: transparent;
    color: #f44336;
    font-size: 24px;    
    float: right;
}

.card form [class*="col-"] {
    padding: 0px 5px;
}

.card {
    margin: 25px 0;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
    border-top: 3px solid #e74c3c;
}

.card-header {
    padding: 30px 25px 10px 25px; 
    color: #e74c3c;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.card-form,
.card-content {
    padding: 25px 20px;
}

.card-content {
    text-align: left;
    font-size: 16px;
}

.card-form label {
    font-weight: normal;
    font-size: 16px;
}

.card-content h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.card-team {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
    transition: ease .2s;
    border-top: 3px solid #e74c3c;
    padding: 0px 40px 25px;
}

.card-team:hover {
    box-shadow: 0 3px 6px 0px rgba(0,0,0,0.21);
}

.card-team img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: -25px;
}

.card-team h5 {
    padding-top: 30px;
    color: #525558;
    font-size: 24px;
}

.card-team h4 {
    color: #888888;
    font-size: 16px;
    text-transform: uppercase;
}

.card-team p {
    padding: 10px 0px;
    color: #525558;
    font-size: 16px;
}

.card-social {
    text-align: center;
    padding: 10px;
}

.card-bg {
    text-align: center;
    padding: 20px;
}

.card-bg span {
    border-radius: 50%;
    border: 2px solid #e74c3c;
    text-align: center;
    display: inline-block;
}

.dropdown-menu {
    transition: all 150ms linear;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    display: block;
    margin-top: -20px; 
}

.dropdown-menu>li>a {
    padding: 0px 20px;
    line-height: 2.5;
    color: #525558;
}

.open .dropdown-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 1px;
}

.facebook,.facebook:hover {
    color: #3b5998;
}

.form-control {
    float: left;
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    height: 40px;
    box-shadow: none;
    color: #525558;
    z-index: 0 !important;
}

.form-horizontal {
    margin-bottom: 0px;
}

.form-horizontal .form-group {
    margin-bottom: 20px;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
}

.form-horizontal .form-group-button {
    margin-bottom: 0px !important;
}

.gplus,.gplus:hover {
    color: #dd4b39
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=date]:focus,
input[type=number]:focus,
.form-control:focus,
.form-group textarea:focus,
.open>.dropdown-toggle.btn.btn-default:focus, 
.open>.dropdown-toggle.btn.btn-default:hover,
.btn.btn-group.open .dropdown-toggle {
    border: 1px solid #AAAAAA;
    border-radius: 4px;
    box-shadow: none;
    background-color: transparent;
}

.input-group {
    width: 100%
}

.input-group-addon {
    width: 50px;
    height: 40px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;    
    font-size: 18px;
}

.linkedin,.linkedin:hover {
    color: #0077B5;
}

.line {
    border-top: 1px solid #E6E6E6;
}

/* CSS Switch Button */

.switch {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 22px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #E6E6E6;
    transition: .4s;
    cursor: pointer;
    border-radius: 4px;
}

.slider:before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 23px;
    height: 18px;
    background-color: white;
    transition: .4s;
    border-radius: 4px;
}

input:checked+.slider {
    background-color: #e74c3c;
}

input:focus+.slider {
    box-shadow: 0 0 1px #e74c3c;
}

input:checked+.slider:before {
    transform: translateX(23px);
}

.switch-container {
    margin: 0px;
    display: flex;
}

.switch-label {
    color:#888888;
}

.checkbox label {
    padding: 0px 10px;
}

/*end of swicth stle*/

@media (max-width: 767px) {
    .card,.card-team {       
        margin-bottom: 40px;
    }
}