body {
    background: #f8f9fa;
}

.main-section {
    float: right;
    position: relative; 
    width: calc(100% - 265px);
}

.main-section {
    margin-top: 55px;;
}

.dashboard-section {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: calc(100vh - 150px);
}

@media(min-width:768px) {
    .main-section {
        opacity: 1 !important;
    }
}