.main-section {
    float: right;
    position: relative; 
    width: calc(100% - 265px);
}

.main-section {
    margin-top: 55px;;
}

.investment-section {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: calc(100vh - 150px);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:white;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #e74c3c;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #e74c3c;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #e74c3c;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.contain th h1 {
	  font-weight: bold;
	  font-size: 18px;
  text-align: center;
  color: #185875;
}

.contain td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.contain {
	  text-align: center;
	  overflow: hidden;
	  width: 100%;
	  margin: 0 auto;
  display: table;
}

.contain td, .contain th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.contain tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.contain tr:nth-child(even) {
	  background-color: #2C3446;
}

.contain th {
	  background-color: #1F2739;
}

.contain td:first-child { color: #e74c3c; }

.contain tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.contain td:hover {
  background-color: #e74c3c;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #e74c3c -1px 1px, #e74c3c -2px 2px, #e74c3c -3px 3px, #e74c3c -4px 4px, #e74c3c -5px 5px, #e74c3c -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}